* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;


    font-family: Avenir;
    -webkit-font-smoothing: subpixel-antialiased;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}


html {
    background-color: #9fd3b5;
    min-height: 30px;
}

#popup {
    min-height: 30px;
}


.progress_bar {
    min-height: 30px;
    background: #5fb583;
    width: 0%;
}

.progress_bar-title{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 14px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 300;
    color: #222;
}

.screenshot {
    background-color: white;
    padding: 15px;
    max-height: 300px;
    overflow: auto;
}

.screenshot .image {
    display: block;
    width: 270px;
    border: 1px solid whitesmoke;
    position: relative;
    margin-bottom: 10px;
}

img {
    width:100%;
}

.removeIcon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #222;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.removeIcon .icon {
    background-image: url(./../remove-icon.svg);
    background-size: contain;
    width: 5px;
    height:5px;
}


.uploadWidget {
    background-color: #222;
    padding: 20px;
}

.back-to-upload {
    background-color: white;
    color: #222;
}

#uploadButton{
    height: 45px;
    width: 100%;
    background-color: #22bc85;
    border-radius: 20px;
    outline: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
}

#uploadButton:hover {
    background-color: #25d89b;
}

.uploadWidget > p:first-of-type {
    margin-top: 25px;
}

.selectors-titles {
    margin-top: 25px;
    line-height: 1.2;
}

.uploadWidget .selectors-titles p {
    text-align: left;
    color: #9e9e9e;
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
}

.upload-actions {
    margin-top: 20px;
    display: flex;
}
.upload-actions a {
    cursor: pointer;
    flex:auto;
    color: #9e9e9e;
    font-size: 12px;
    font-weight: 300;
}

.upload-actions a:last-child {
    text-align: end;
}


.selectors {
    margin-top: 20px;

}

.selectors p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    color: #9e9e9e;
    letter-spacing: 1px;
}

.selectors select {
    margin-top: 10px;
    height: 45px;
    outline: none;
    flex: auto;
    background-color: #222;
    border: 1px solid #9e9e9e;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    width: 100%;
    color: #9e9e9e;
    padding-left: 20px;
    line-height: 45px;
}










.actions {
    display: flex;
    flex-direction: column;
    height: 225px;

    color: white;
    font-size: 20px;
    font-weight: 300;
}

.actions .unsupported {
    margin: 10px;
}

.actions > div {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 75px;
    flex-shrink: 0;
}

.actions > div > span {
    margin-left: 35px;
    align-items: center;
}

.actions > div:nth-child(1) {
    background-color: #9fd3b5;
}

.actions > div:nth-child(2){
    background-color: #7fc49c;
}

.actions > div:nth-child(3){
    background-color: #6fbd90;
}


.actions > div:nth-child(1):hover{
    background-color: #7ea78c;
}

.actions > div:nth-child(2):hover{
    background-color: #64a17b;
}

.actions > div:nth-child(3):hover{
    background-color: #579f75;
}

.actions > div:nth-child(4){
    background-color: white;
}

.title-and-links {
    padding: 20px;
    padding-top: 25px;
    font-size: 16px;
    background-color: white;

}

.title-and-links p {
    text-align: left;
    margin-left: 16px;
}

.title-and-links p:first-child {
    color: black;
    font-weight: 900;
}

.title-and-links p:nth-child(2){
    margin-top: 10px;
    color: #636363;
    font-weight: 300;
}


.title-and-links .links {
    margin-top: 20px;
    display: flex;
}


.title-and-links .links a {
    font-size: 13px;
    font-weight: 300;
    outline: none;
    justify-content: center;
    display: flex;
    cursor: pointer;
    margin-left: 20px;
}

.title-and-links .links a:hover {
    color: #58b684;
}










.login-form {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;

}

.login-form .title {
    text-align: center;
    font-size: 30px;
    color: #8c8c8c;
}

.facebook-login {
    margin-top: 20px;
    height: 30px;
    width: 100%;
    background-color: #000066;
    color: white;
    border-radius: 20px;
    outline: none;
}

p {
    text-align: center;
    color: #8c8c8c;
}

p .sign-up {
    color: #00ae00;
}

p .google-login {
    color: red;
}

p .github-login {
    color: black;
}

p.email-login {
    margin-top: 20px;
}

input[type=text],input[type=email], input[type=password] , input[type=submit] {
    display: block;
    width: 100%;
    height: 35px;
    border: 2px solid #b5b5b5;
    text-align: center;
    outline: none;
    border-bottom: none;
}


::-webkit-input-placeholder {
    text-align: center;
}

input[type="submit"]{
    font-weight: bold;
    background-color: #b5b5b5;
}

form {
    margin-top: 10px;
}

.signup-title {
    margin-top: 10px;
}




#popup {
    width: 300px;
}
#screenshot-app button {
    padding: 5px;
    border-radius: 5px;
    background-color: #37A037;
    color: white;
    display: block;
    margin: auto;
    margin-bottom: 3px;
    margin-top: 3px;
    outline: none;
}

.images {
    overflow: auto;
    max-height: 500px;
}

.imagesList {
    background-color: white;
    overflow: auto;
    max-height: 500px;
}

#images-list .checkbox {
    margin-right: 10px;
    align-self: baseline;
    margin-top: 10px;
}


#images-list .images-wrapper{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: whitesmoke;
}

.history-buttons {
    background-color: #222;
    padding: 20px;
}

.back-to-actions {
    cursor: pointer;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 13px;
    font-weight: 300;
    color: #9e9e9e;
}

.upload-to-actions{
    cursor: pointer;
    background-color: #222;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: white;

    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
}

#images-list .image {
    position: relative;
}

.image-actions {
    display: flex;
}

.image-actions > div {
    cursor: pointer;
    flex: auto;

    height: 15px;
    text-align: center;
    line-height: 15px;

    color: white;
    font-size: 14px;
    font-weight: 300;
}

.image-actions > div:first-child {
    background-color: #222;
}
.image-actions > div:nth-child(2) {
    background-color: #5fb583;
}

.title-and-links {
    padding-left: 14px;
}

.title-and-links p {
    margin-left: 20px;
}


#shareButton {
    height: 45px;
    width: 100%;
    margin: auto;
    background-color: #22bc85;
    border-radius: 20px;
    outline: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    line-height: 45px;
}

#shareButton:hover {
    background-color: #25d89b;
}


.sharedLink {
    height: 40px;
    text-align: center;
    background-color: whitesmoke;
    font-size: 14px;
    margin: 0px;
    margin-bottom: 10px;
    padding: 7px;
    width: 100%;
}

.sharedTitle {
    text-align: center;
    font-size: 14px;
    margin: 4px;
}

.back-link {
    font-size: 13px;
    font-weight: 300;
}

.back-link:hover {
    color: #58b684;
}










.task-box {
    position: relative;
    background-color: #fff;
}

.top-wrapper {
    padding: 14px;
}

.CommentBox .profile {
    float: left;
}

.ProfileBar {
    white-space: nowrap;
    overflow: hidden;
}

.ProfileBar .avatar {
    width: 3pc;
    height: 3pc;
    border-radius: 50%;
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}

.ProfileBar .user-name {
    display: inline-block;
    width: 100%;
    min-width: 50px;
    vertical-align: middle;
    line-height: 15px;
}

.ProfileBar .user-name .date {
    color: #9f9f9f;
    font-size: 10px;
}

.CommentBox .comment {
    width: 100%;
    display: inline-block;
}


.CommentBox .comment .readonly-text {
    line-height: 1.428;
    margin-top: 7px;
    font-size: 14px;
    word-wrap: break-word;
    white-space: pre-line;
}






.cs-btn-active, .cs-btn-block, .cs-btn-flat-active, .cs-btn-flat-gray, .cs-btn-gray {
    padding: 13px 35px;
    border: none;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    outline: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: normal;
    font-weight: 500;
}

.cs-btn-flat-active {
    background-color: #22bc85;
    color: #fff;
}

.cs-btn-flat-active:hover {
    background-color: #24d99c;
}

.reply-btn {
    width: 100%;
}



.unsapported-title {
    margin-left: 16px !important;
    margin-top: -5px !important;
}




.statelist-enter {
    margin-left: -400px;
    position: absolute;
    top:0;
}

.statelist-enter.statelist-enter-active {
    transition: all 200ms ease-in;
    position: static;
    margin-left: 0;
}

.statelist-leave {
    position: absolute;
    top:0;
}

.statelist-leave.statelist-leave-active {
    position: absolute;
    top:0;
    margin-left: 400px;
    transition: all 200ms ease-in;
}


.grayButton {
    background-color: #e6e6e6 !important;
    color: #000 !important;
}

.grayButton:hover {
    background-color: #f4f4f4 !important;
    color: #000 !important;
}